.navigation {
    display: flex;

    &-link {
        margin: 1em;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgb(33, 33, 33);
    }
    
    &-link:hover{
        text-decoration: none;
        color: #f0f;
    }
}

.active{
    padding-bottom: .3em;
    border-bottom: .2em solid #fff;
}




