.navigation {
    display: flex;
    align-items: center;

    &-link {
        margin: 1em;
        color:#fff;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
    }
    
    &-link:hover{
        text-decoration: none;
        color: #3489df;
        text-shadow: 1px 1px 3px grey;

    }
    &-message{
        text-align: right;
        margin: .3em 1em;
        }
    
      &-logged{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        }
    
    &-button{
        font-weight: bold;
        font-size: 1em;
        color: #fff;
        background-color: #1774C7;
        border-radius: .3em;
        border: 0;
        padding: .5em 1em;
        margin: 20px;
        box-shadow: 1px 1px 2px lightblue;
        transition: background-color 0.3s;
    
          &:hover{
              background-color: rgb(216, 0, 0);
          }
        }
}

.navigation .active{
    padding-bottom: .3em;
    border-bottom: .2em solid #323232;
}

@media(max-width:480px){
    .navigation{
        margin-top: 50px;
        margin-left: 5px;

        &-button{
            margin-left: -30px;
            padding: 10px;
        }
    }
}


