.travel{
    height: 70vh;
    margin-top: 2em;
    
    &-form{
        display: flex;
        flex-direction: column;
        // background-color: lightblue;
        width: 45%;
        margin: auto;
        margin-top: 5em;
        padding: 2em;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #777; 
        background-image: url('./doodle.jpg');
        background-size: cover;
    }

    &-form label{
        width: 80%;
        margin: 1em auto;

    }

    &-form h1{
        // color: #fff;
        // font-size: 1em;
        font-size: 1.5em;
        color: #1774C7;
        font-weight: bold;
        text-shadow: 1px 1px 2px grey;
    }

    &-form span{
        color: red;
    }

    &-form input{
        width: 100%;
        padding: .3em;
    }
}