.footer {
    background-color: rgb(0, 50, 94);
    
    &-list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
    }
    
    &-content{
        color: #fff;
        padding: 0 20px;
        list-style: none;
        font-size: 0.7rem;
        text-decoration: none;
    }
}