.app {
<<<<<<< HEAD
    // background-image: url("./van.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    // opacity:.6;
}

a:hover{
    text-decoration: none;
    color: grey;
=======
    height: 100vh;
    // background-image: url("./nuages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
>>>>>>> overall-css
}