.app {
    height: 100vh;
    // background-image: url("./nuages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}