.consult{
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //height: 300%;
    //border-radius: 10px;
    //padding-top: inherit;
    //padding: 20px 10vh;
    padding: 1rem 5rem 3rem 5rem;

    background-position: center;
    
    

    &-profil{
        border: solid 5px #CCD0F2;
        padding: 15px;
        background-color:#ffffff;
        border-radius: 10px;
        width: 22vh;
        //font-weight: bold;
        margin-top:50px;
        //box-shadow: 10px 10px 5px #CCD0F2;
        //letter-spacing: 2px;
        //text-indent: 10px;
        color: #141418;
        
        
 
    }

    &-button{
        padding: 6px;
        margin-left: 1px;
        border-radius: 10px;
        background-color: #1968B9;
        color: white;
        font-weight: bold;
    
    }

    &-article{
        border: solid 5px #CCD0F2;
        background-color:	#ffffff;
        border-radius: 10px;
        width: 70vh;
        //width: 25vh;
        margin-left: 120vh;
        margin-top:-300px;
        //margin-bottom: 25vh;
        padding: 8px;
        text-align: justify;;
        //box-shadow: 10px 10px 5px #CCD0F2;
        //letter-spacing: 2px;
        
        color: #141418;
        //display: inline;
       
    }

    &-pseudo-button{
        padding: 9px;
        //margin-left: px;
        border-radius: 10px;
        background-color: #1968B9;
        color: white;
        font-weight: bold;
        margin-left: 20px;
        
    }
    
    &-avat{
        border-radius: 50%;
        border: solid 3px #CCD0F2;
        width: 150px;
        height: 150px;
        //position: relative;
        margin-bottom: 50px;

    }

    &-name{
        color: 	#ffffff;
        font-weight: bold;
        font-size: 35px;
        margin-left: 20vh;
        margin-bottom: -8vh;
        //margin-top: 60px;
        //position: relative;

        
    }

    &-pseudo{
        margin-left: 15vh;
        position: relative;
        margin-bottom: 10vh;
        //float: right;
        

    }

    //&-public{
    //    padding: 9px;
    //    //margin-left: px;
    //    border-radius: 5px;
    //    background-color: #F17F42;
    //    color: white;
    //    font-weight: bold;
    //}
}

span{
    color:yellow;
}

