.consult{
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //height: 300%;
    border-radius: 10px;
    //padding-top: inherit;
    //padding: 20px 10vh;
    padding: 1rem 6rem 3rem 5rem;

    background-position: center;
    
    

    &-profil{
        border: solid 3px #CCD0F2;
        padding: 15px;
        background-color:whitesmoke;
        border-radius: 10px;
        width: 25vh;
        font-weight: bold;
        //margin:20px;
        box-shadow: 10px 10px 5px #CCD0F2;
        letter-spacing: 2px;
        text-indent: 10px;
        color: #141418;
 
    }

    &-button{
        padding: 9px;
        margin-left: 45px;
        border-radius: 5px;
        background-color: #1774C7;
        color: white;
        font-weight: bold;
    }

    &-article{
        border: solid 3px #CCD0F2;
        background-color:whitesmoke;
        border-radius: 10px;
        width: 70vh;
        //width: 25vh;
        margin-left: 140vh;
        margin-top: -20vh;
        padding: 10px;
        text-align: justify;;
        //box-shadow: 10px 10px 5px #CCD0F2;
        //letter-spacing: 2px;
        
        color: #141418;
        //display: inline;
       
    }

    &-pseudo-button{
        padding: 9px;
        //margin-left: px;
        border-radius: 5px;
        background-color: #1774C7;
        color: white;
        font-weight: bold;
    }
    
    &-avat{
        border-radius: 50%;
        border: solid 3px #CCD0F2;
        width: 200px;
        height: 200px;
        position: relative;

    }

    &-name{
        color: #141418;
        font-size: 35px;
        margin-left: 25vh;
        //margin-top: 6px;
        //margin-top: 60px;
        position: relative;

        
    }

    //&-public{
    //    padding: 9px;
    //    //margin-left: px;
    //    border-radius: 5px;
    //    background-color: #F17F42;
    //    color: white;
    //    font-weight: bold;
    //}
}

span{
    color: #FF00FF;
}
