.header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    height: 15vh;

    &-left{
        display: flex;
        align-items: center;
    }

    &-logo{
        height: 100px;
        transition: background-color 0.3s;
    
        // &:hover{
        //     background-color: #f0f;
        // }
    }
}
    

    

    

    
