.header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;

    &-left{
        display: flex;
        align-items: center;
    }

    &-logo{
        height: 100px;
        transition: background-color 0.3s;
    
    }
}
    

    

    

    
