.privateProfile{
    display: flex;
    width: 90%;
    height: 80vh;
    margin: auto;
    
    
    
    margin: auto;
    align-items: center;


    //Partie de gauche
    
    &-infos{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1.5em;
    }
    &-profil{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: #ffffff;
        padding: 1.2em;
        border-radius: 5px;
        margin: auto;
    }
    &-titleProfile{
        font-weight: bold;
        font-style: italic;
        margin: 1em;
    }
    &-article{
        background-color: rgb(255, 255, 255);
        width: 90%;
        min-height: 300px;
        margin: auto;
        margin-top: 1em;
        border-radius:5px;
        padding: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-titleDescription{
        font-weight: bold;
        font-style: italic;
        margin: 1em;
    }
    &-buttons{
        display: flex;
        justify-content: space-around;
        margin-top: 2em;

    }
    &-button{
        margin: 1em 2em 2em 2em;
        padding: .6em 1.8em;
        font-size: .9em;
        font-weight: bold;
        background-color: #1774C7;
        color: #FFF;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 2px black;
        transition: background-color 0.3s;
        &:hover{
            background-color: rgb(0, 136, 255);
        }
    }
    &-delete{
        margin: 1em 2em 2em 2em;
        padding: .6em 1.8em;
        font-size: .9em;
        font-weight: bold;
        background-color: rgb(172, 12, 12);
        color: #FFF;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 2px black;
        transition: background-color 0.3s;
        &:hover{
            background-color: rgb(216, 0, 0);
        }
    
    }

    //partie de droite

    &-images{
        
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        
    } 
        
    &-photo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    } 
        
    &-cover{
        height: 650px;
        width: 950px;
        border: 1px solid black;
        background-color: pink;
        border-radius: 5px;
    }
    &-picture{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-avatar{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: yellow;
        margin: 2em 1em;
        
    }
    &-name{
        font-weight: bold;
        font-size: 2em;
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
    }
    

}