.about{
    
    text-align: center;
   

    &-avatar{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: solid 3px black;
 
    }

    &-scrum {
   
        padding: 20px;
    }


    &-back{
   
        padding: 20px;
    }

    &-front{
   
        padding: 20px;
    }

    &-master{
   
        padding: 20px;
    }

    &-elt1{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        justify-content: center;
    }

    &-elt2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-elt3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-title{
        //border-radius: 50px;
        //border: solid 3px #323232;
        //padding: 20px;  
        font-weight: bold; 
        color: #323232;
        padding: 20px;
        width: 50vw;
        margin:auto;
        border-bottom: solid 3px purple;
    
    }

    &-name{
        font-weight: bold;
    }
}





