.about{
    
    text-align: center;
  

    &-avatar{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: solid 3px black;

       
    }

    &-elements{
        
        //border-radius: 20px;
        //border: solid 3px #323232;
       // width: 50%;
        //background-color: rouge;
        
        
    }

    &-elt1{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        justify-content: center;

        
        

    }

    &-elt2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        
        
        
    }

    &-elt3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        
        

        
    }
}

h1{
    //border-radius: 50px;
    //border: solid 3px #323232;
    padding: 20px;  
    font-weight: bold; 
    color: #323232;
    width: 80vw;
    margin: auto;
    border-bottom: solid 3px #1968B9;
    
}

h4{
    font-weight: bold;
}

